{% extends "base.html" %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#account" data-toggle="tab">Account</a></li>
        <li><a href="#password" data-toggle="tab">Password</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="account">
            <form id="tab">
                <label>Email</label>
                <input type="text" value="{{ user.email }}" class="input-xlarge" disabled>
                <label>First Name</label>
                <input type="text" value="{{ user.first_name }}" class="input-xlarge" disabled>
                <label>Last Name</label>
                <input type="text" value="{{ user.last_name }}" class="input-xlarge" disabled>
            </form>
        </div>
        <div class="tab-pane" id="password">
            <form id="tab2" method="post" action="{% url 'account_change_password' %}">
                {% if form.errors %}
                    <p>Password change failed</p>
                {% endif %}
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ PasswordChangeForm.old_password.errors }}
                            <label for="old_password">Old password:</label></td>
                        <td>{{ PasswordChangeForm.old_password }}</td>
                    </tr>
                    <tr>
                        <td>{{ PasswordChangeForm.new_password1.errors }}
                            <label for="new_password1">New password:</label></td>
                        <td>{{ PasswordChangeForm.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ PasswordChangeForm.new_password2.errors }}
                            <label for="new_password2">Confirm password:</label></td>
                        <td>{{ PasswordChangeForm.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change Password" class="btn btn-default"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function()
    {
        $('a[data-toggle="tab"]').on('shown', function () {
            localStorage.setItem('accLastTab', $(this).attr('href'));
        });

        var lastTab = localStorage.getItem('accLastTab');
        if (lastTab) {
            $('a[href=' + lastTab + ']').tab('show');
        }
        else
        {
            $('a[data-toggle="tab"]:first').tab('show');
        }
    });
</script>
{% endblock %}
