{% extends "base.html" %}

{% block body %}
    <h3>Tell us a bit more</h3>
    <p class="lead">We need your League of Legends' summoner name.</p>
    <form method="post" id="summoner_form">
        {% csrf_token %}
        <p> {{ form.non_field_errors }} </p>
        {% for field in form %}
            <p> {{ field.label }}</p>
            <p> {{ field }}</p>
            <p> {{ field.errors }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}