{% extends "base.html" %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#champions" data-toggle="tab">Champions</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <form id="tab">
                <label>Summoner Name</label>
                <input type="text" value="{{ user.in_game_name }}" class="input-xlarge" disabled>
                <label>Server</label>
                <input type="text" value="{{ user.get_region_display }}" class="input-xlarge" disabled>
            </form>
        </div>
        <div class="tab-pane" id="champions">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function()
        {
            $('a[data-toggle="tab"]').on('shown', function () {
                localStorage.setItem('proLastTab', $(this).attr('href'));
            });

            var lastTab = localStorage.getItem('proLastTab');
            if (lastTab) {
                $('a[href=' + lastTab + ']').tab('show');
            }
            else
            {
                $('a[data-toggle="tab"]:first').tab('show');
            }
        });
    </script>
{% endblock %}
