{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    <style>
    .champion-container{
        float:left;
        width:150px;
        height:120px;
        padding: 7px;
        margin: 4px;
    }
    </style>
{% endblock %}

{% block body %}
    {% for champ in champions %}
    <div class="champion-container thumbnail">
        {{ champ }}
        <img src="{% static 'img/champions/'|add:champ|add:'_Splash_0_e.jpg' %}" alt="" title="" width="150" height="84">
    </div>
    {% endfor %}
{% endblock %}