{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>TeamBuilder</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <style>
        body {
            padding: 60px 0 0 0;
        }
    </style>
    {% block css %}

    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'index' %}">TeamBuilder</a>
            <ul class="nav">
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav pull-right">
                    <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.first_name }} {{ user.last_name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <form action="{% url 'login' %}" method="post" class="navbar-form pull-right" style="">
                <div class="row">
                    {% block login_index %}
                    {% endblock %}
                </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    {% block body %}{% endblock %}
</div>

<div class="modal-footer">
    <span class="glyphicon icon-bookmark"></span>
    <p style="display: inline;font-size: 12px;"> TeamBuilder.com 2014 © All rights reserved | Privacy | About | <a href="{% url 'contact' %}">Contact</a> | Feedback | Advertise </p>
</div>

<script type="text/javascript" src="{% static "bootstrap/js/jquery-1.11.0.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/holder.js" %}"></script>
{% block js %}
{% endblock %}
</body>
</html>