{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="active item">
                <img src="{% static "img/champion/Jayce_Splash_0.jpg" %}" alt="banner1" />
                <div class="carousel-caption">
                    <h3>Jayce</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static "img/champion/Syndra_Splash_0.jpg" %}" alt="banner2" />
                <div class="carousel-caption">
                    <h3>Syndra</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static "img/champion/Aatrox_Splash_0.jpg" %}" alt="banner3" />
                <div class="carousel-caption">
                    <h3>Aatrox</h3>
                    <p>...</p>
                </div>
            </div>
        </div>

        <a class="carousel-control left" href="#carousel" data-slide="prev"><span class="glyphicon icon-chevron-left"></span></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"><span class="glyphicon icon-chevron-right"></span></a>
    </div>

{% endblock %}

<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 3000
        });
    });
</script>