{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% if form %}
    {% block login_index %}
        {% csrf_token %}
        <div class="input-group input-group-sm">
            {{ form.email }}
            <input type="text" class="form-control">

            <div class="input-group-btn">
                <!-- Button and dropdown menu -->
            </div>

        </div>
        <button type="submit" class="btn">Log in</button>
    {% endblock %}
{% endif %}

{% block body %}
    <h1> Welcome to Teambuilder!</h1>
{% endblock %}

