{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% if form %}
    {% block login_index %}
        {% csrf_token %}
        <div class="input-group input-group-sm input-group-btn">
            {{ form.username }}
            {{ form.password }}
                <button type="submit" class="btn btn-default" tabindex="-1">Sign in</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Sign up</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Forgot password?</a></li>
                </ul>
        </div>
    {% endblock %}
{% endif %}

{% block body %}
    <h1> Welcome to Teambuilder!</h1>
{% endblock %}

